

.jf {
    margin: 80px;
    height: 100px;
}

.jogos {
    margin: 80px;
    height: 100px;
}

.svj {
   margin: 80px;
   height: 100px;
}

.carros {
    border: 70px solid white;
    margin: 30px;
}
